main{
    margin: 0;
    padding: 0;
    display: flex;
    flex: 1;
    
    padding: 0;
    
    justify-content: center;
    background-color: rgb(230, 243, 255);
    align-items: center;
}

.wave-holder{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: fit-content;
  
}

.custom-wave{
  z-index: 1000;
    opacity: 0.99;
    bottom: 0;
    
    width: 100%;
    position: absolute;
}





@import url(https://fonts.googleapis.com/css?family=Exo:100);
/* Background data (Original source: https://subtlepatterns.com/grid-me/) */
/* Animations */
@-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}

